body{
   overflow-x: hidden;
}
#head1{
   text-align: center;
   border:5px solid black;
   font-size:xx-large;
   font-family: "courier new";
   background-color: #C197D2;

}
div{
    background-color: #A16AE8;
    display:inline-block;
    height:50px;
    width:200px;
    border:3px solid #603F8B;
    border-radius:10%;
    text-align: center;
    box-shadow: 3px 3px 3px 3px black;
    padding:10px 10px 10px 10px;
    margin:25px;

}

 img{
   height:400px;
    display:inline-block;
    border:5px solid black;
    position:relative;
    box-shadow: 10px 10px 10px 10px black;
    
 }
 #head2{
   text-align: center;
   border:5px solid black;
   font-size:xx-large;
   font-family: "courier new";
   background-color: #C197D2;
   padding:0;
 }
 #bday{
   height:8500px;
   width:900px;
   background-color: #81B622;
   border:5px double #3D550C;
   border-radius: 10px;
   position:absolute;
   left:25%;
   top:130%;
   box-shadow: 10px 10px 10px 10px black;
   padding:0;
   margin:0;
 }

.m{
   display:block;
   margin:50px;
   padding:10px;
   height:1600px;
   width:780px;
   border:3px solid black;
   border-radius:0%;
   box-shadow: 10px 10px 10px 10px black;
}
#m1{
   background-color: lightseagreen;

}
#m2{
   background-color: lightcoral;

}
#m3{
   background-color: lightskyblue;

}
#m4{
   background-color: lightslategray;

}
#m5{
   background-color: lightpink;

}
h2{
   background-color: #fa2a4d;
   height:50px;
   border:3px double black;
   padding:10px;
   margin:5px;
   color:black;
}
a{
   text-decoration: none;
}
.message{
   background-color: #18A558;
   border:4px double black;
   box-shadow: 5px 5px 5px 5px #116530;
   border-radius: 0;
   padding:5px;
   width:600px;
   height:150px;
   margin:25px;
}
.me{
   background-color: #A3EBB1;
   border:4px double black;
   box-shadow: 3px 3px 3px 3px black;
   border-radius: 0;
   padding:20px;
   width:550px;
}
.pic{
   margin:35px;

}

#special{
   background-color: #061E47;
   border:4px double black;
   box-shadow: 5px 5px 5px 5px #2B6AD0;
   border-radius: 0;
   padding:5px;
   height:200px;
   width:1400px;
   margin:25px;
   display: block;
   
}
#s1{
   background-color: #68A4F1;
   border:4px double black;
   box-shadow: 5px 5px 5px 5px black;
   border-radius: 0;
   padding:5px;
   height:140px;
   width:1300px;
   margin:25px;
}






